# Exercise 4.8

# 01 Import Libraries

In [3]:
#importing pandas, numpy and os
import pandas as pd
import numpy as np
import os

# 02 Import Dataframes

## creating path

In [6]:
# creating a path for import of df and to use for export at the end
path = r'/Users/Andreas/Desktop/13-02-2025 Instacart Basket Analysis/02 Data'

In [7]:
# testing path
path

'/Users/Andreas/Desktop/13-02-2025 Instacart Basket Analysis/02 Data'

## dataframe import

In [9]:
#import orders_products_merged2.pkl
ords_prods_merge = pd.read_pickle(os.path.join(path, 'Prepared Data', 'orders_products_merged2.pkl'))

In [10]:
#check output
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_without_ordering,add_to_cart_order,reordered,_merge,price_label,busiest_day,busiest_days
0,1,Chocolate Sandwich Cookies,61,19,5.800781,3139998,138,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Regularly busy days
1,1,Chocolate Sandwich Cookies,61,19,5.800781,1977647,138,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Regularly busy days
2,1,Chocolate Sandwich Cookies,61,19,5.800781,389851,709,2,0,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest days
3,1,Chocolate Sandwich Cookies,61,19,5.800781,652770,764,1,3,13,0.0,10,0,both,Mid-range product,Regularly busy,Least busy days
4,1,Chocolate Sandwich Cookies,61,19,5.800781,1813452,764,3,4,17,9.0,11,1,both,Mid-range product,Least busy,Least busy days

In [11]:
#checking size
ords_prods_merge.shape

(32404859, 17)

## removing 'busiest day' column

In [13]:
ords_prods_merge = ords_prods_merge.drop(columns = 'busiest_day')

In [14]:
ords_prods_merge.shape

(32404859, 16)

## removing '_merge' column to free space on RAM

In [16]:
ords_prods_merge = ords_prods_merge.drop(columns = '_merge')

In [17]:
ords_prods_merge.shape

(32404859, 15)

## creating subset of orders_products_merge

In [19]:
df = ords_prods_merge[:1000000]

In [20]:
df.shape

(1000000, 15)

In [21]:
df.head(10)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_without_ordering,add_to_cart_order,reordered,price_label,busiest_days
0,1,Chocolate Sandwich Cookies,61,19,5.800781,3139998,138,28,6,11,3.0,5,0,Mid-range product,Regularly busy days
1,1,Chocolate Sandwich Cookies,61,19,5.800781,1977647,138,30,6,17,20.0,1,1,Mid-range product,Regularly busy days
2,1,Chocolate Sandwich Cookies,61,19,5.800781,389851,709,2,0,21,6.0,20,0,Mid-range product,Busiest days
3,1,Chocolate Sandwich Cookies,61,19,5.800781,652770,764,1,3,13,0.0,10,0,Mid-range product,Least busy days
4,1,Chocolate Sandwich Cookies,61,19,5.800781,1813452,764,3,4,17,9.0,11,1,Mid-range product,Least busy days
5,1,Chocolate Sandwich Cookies,61,19,5.800781,1701441,777,16,1,7,26.0,7,0,Mid-range product,Busiest days
6,1,Chocolate Sandwich Cookies,61,19,5.800781,1871483,825,3,2,14,30.0,2,0,Mid-range product,Regularly busy days
7,1,Chocolate Sandwich Cookies,61,19,5.800781,1290456,910,12,3,10,30.0,1,0,Mid-range product,Least busy days
8,1,Chocolate Sandwich Cookies,61,19,5.800781,369558,1052,10,1,20,19.0,1,0,Mid-range product,Busiest days
9,1,Chocolate Sandwich Cookies,61,19,5.800781,589712,1052,15,1,12,15.0,2,1,Mid-range product,Busiest days

# 03 Grouping with Pandas

In [23]:
# grouping df by product_name column
df.groupby('product_name')

    What has pandas done here? Well, the groupby() function has apparently created a pandas object (indicated by the term “object” in the output message above). But now what? Nothing seems to have actually happened.

    This is because the output of the groupby() function isn’t visible. Though it executed successfully (as evidenced by the output message you received), it’s not something that you, as the coder, can actually see. It needs you to do something else, for instance, aggregate the data or apply a function (the second step of the workflow), before you’ll be able to see the results. In other words, by itself, the groupby() function is a little worthless in terms of output.

    To recap, you should always use the groupby() function as part of a series of steps, namely, the following:

    Split the data into groups based on some criteria.
    Apply a function to each group separately.
    Combine the results into a dataframe or alternative data structure or       create a new column in the current dataframe.
    So far, you’ve only completed the first step—splitting the data into        groups (with the group being the “product_name” column).

## aggregating data with agg()

In [26]:
# group df by group and aggregate by mean order_number
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.577493
2                17.320781
3                16.084944
4                17.530458
5                14.763075
6                16.658449
7                17.031590
8                15.076662
9                15.447580
10               18.681852
11               15.447411
12               14.327957
13               16.548642
14               16.960241
15               16.121948
16               17.803851
17               15.593633
18               19.674252
19               16.899756
20               16.255442
21               25.535479

## aggregating with mean

In [28]:
#group by department_id and average order_number (same as above no agg())
df.groupby('department_id')['order_number'].mean()

department_id
1     15.577493
2     17.320781
3     16.084944
4     17.530458
5     14.763075
6     16.658449
7     17.031590
8     15.076662
9     15.447580
10    18.681852
11    15.447411
12    14.327957
13    16.548642
14    16.960241
15    16.121948
16    17.803851
17    15.593633
18    19.674252
19    16.899756
20    16.255442
21    25.535479
Name: order_number, dtype: float64

## Performing Multiple Aggregations

In [30]:
#group df by department id aggregated by mean, min and max order_number
df.groupby('department_id').agg({'order_number' : ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
1                15.577493   1  99
2                17.320781   1  96
3                16.084944   1  99
4                17.530458   1  99
5                14.763075   1  99
6                16.658449   1  99
7                17.031590   1  99
8                15.076662   1  98
9                15.447580   1  99
10               18.681852   1  99
11               15.447411   1  99
12               14.327957   1  99
13               16.548642   1  99
14               16.960241   1  99
15               16.121948   1  99
16               17.803851   1  99
17               15.593633   1  99
18               19.674252   1  99
19               16.899756   1  99
20               16.255442   1  99
21               25.535479   1  98

## Aggregating Data with transform()

    After you’ve grouped and aggregated your data, it’s time to create flags for that data. In this example, you’ll be creating a loyalty flag column in your ords_prods_merge dataframe. You explored the role of flags in the previous Exercise. To recap, they help you target specific groups within your data according to a set of conditions, allowing for segmented analysis.

    “Loyalty” customers are those that are loyal to a brand. These are customers that come back time and time again and use the service or buy the product often. You’ve been asked to locate these loyalty customers at Instacart so that the business strategy team can employ some kind of bonus point program for them. You’ll do this by first using the transform() function, which will create a new column containing the maximum frequency of the “order_number” column, and then using the loc() function, which will create a second column containing a flag designating whether a customer is “loyal” or not.

In [33]:
#1.Split the data into groups based on the “user_id” column.

#2.Apply the transform() function on the “order_number” column to generate the maximum orders for each user.

#3. Create a new column, “max_order,” into which you’ll place the results of your aggregation.

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

/var/folders/bz/xnfhbvns50zc0x2wgk6fnbg80000gq/T/ipykernel_61924/919732265.py:7: FutureWarning: The provided callable <function max at 0x110e060c0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [34]:
ords_prods_merge.head(15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_without_ordering,add_to_cart_order,reordered,price_label,busiest_days,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.800781,3139998,138,28,6,11,3.0,5,0,Mid-range product,Regularly busy days,32
1,1,Chocolate Sandwich Cookies,61,19,5.800781,1977647,138,30,6,17,20.0,1,1,Mid-range product,Regularly busy days,32
2,1,Chocolate Sandwich Cookies,61,19,5.800781,389851,709,2,0,21,6.0,20,0,Mid-range product,Busiest days,5
3,1,Chocolate Sandwich Cookies,61,19,5.800781,652770,764,1,3,13,0.0,10,0,Mid-range product,Least busy days,3
4,1,Chocolate Sandwich Cookies,61,19,5.800781,1813452,764,3,4,17,9.0,11,1,Mid-range product,Least busy days,3
5,1,Chocolate Sandwich Cookies,61,19,5.800781,1701441,777,16,1,7,26.0,7,0,Mid-range product,Busiest days,26
6,1,Chocolate Sandwich Cookies,61,19,5.800781,1871483,825,3,2,14,30.0,2,0,Mid-range product,Regularly busy days,9
7,1,Chocolate Sandwich Cookies,61,19,5.800781,1290456,910,12,3,10,30.0,1,0,Mid-range product,Least busy days,12
8,1,Chocolate Sandwich Cookies,61,19,5.800781,369558,1052,10,1,20,19.0,1,0,Mid-range product,Busiest days,20
9,1,Chocolate Sandwich Cookies,61,19,5.800781,589712,1052,15,1,12,15.0,2,1,Mid-range product,Busiest days,20
10,1,Chocolate Sandwich Cookies,61,19,5.800781,1798115,1379,1,5,11,0.0,1,0,Mid-range product,Regularly busy days,10
11,1,Chocolate Sandwich Cookies,61,19,5.800781,497193,1480,36,3,13,7.0,1,0,Mid-range product,Least busy days,43
12,1,Chocolate Sandwich Cookies,61,19,5.800781,1727826,1480,38,4,13,7.0,3,1,Mid-range product,Least busy days,43
13,1,Chocolate Sandwich Cookies,61,19,5.800781,2694698,1480,39,2,12,12.0,4,1,Mid-range product,Regularly busy days,43
14,1,Chocolate Sandwich Cookies,61,19,5.800781,3171753,1494,6,3,10,2.0,8,0,Mid-range product,Least busy days,13

In [35]:
#check output 100 rows
ords_prods_merge.head(100)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_without_ordering,add_to_cart_order,reordered,price_label,busiest_days,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.800781,3139998,138,28,6,11,3.0,5,0,Mid-range product,Regularly busy days,32
1,1,Chocolate Sandwich Cookies,61,19,5.800781,1977647,138,30,6,17,20.0,1,1,Mid-range product,Regularly busy days,32
2,1,Chocolate Sandwich Cookies,61,19,5.800781,389851,709,2,0,21,6.0,20,0,Mid-range product,Busiest days,5
3,1,Chocolate Sandwich Cookies,61,19,5.800781,652770,764,1,3,13,0.0,10,0,Mid-range product,Least busy days,3
4,1,Chocolate Sandwich Cookies,61,19,5.800781,1813452,764,3,4,17,9.0,11,1,Mid-range product,Least busy days,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,Chocolate Sandwich Cookies,61,19,5.800781,602103,10831,8,3,11,23.0,5,0,Mid-range product,Least busy days,10
96,1,Chocolate Sandwich Cookies,61,19,5.800781,49629,11119,18,1,14,30.0,1,0,Mid-range product,Busiest days,23
97,1,Chocolate Sandwich Cookies,61,19,5.800781,317888,11186,13,5,16,2.0,8,0,Mid-range product,Regularly busy days,26
98,1,Chocolate Sandwich Cookies,61,19,5.800781,682486,11243,16,3,13,0.0,2,0,Mid-range product,Least busy days,43
99,1,Chocolate Sandwich Cookies,61,19,5.800781,2861386,11448,10,2,15,3.0,6,0,Mid-range product,Regularly busy days,21

In [36]:
# removing pandas limiter on amount of rows to display
pd.options.display.max_rows = None

# re ran ords_prods_merge.head(100) above

## Deriving Columns with loc()

In [38]:
# locate max order in ords_prods_merge if its greater than 40 in column loyalty_flag return loyal customer
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

# locate max order in ords_prods_merge if its <= 40  and > 10 in column loyalty_flag return regular customer
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

# locate max order in ords_prods_merge if its < 10 in column loyalty_flag return new customer
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [39]:
# frequency check
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [40]:
#checking output for user_id, loyalty_flag and order_number columns only
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0       138  Regular customer            28
1       138  Regular customer            30
2       709      New customer             2
3       764      New customer             1
4       764      New customer             3
5       777  Regular customer            16
6       825      New customer             3
7       910  Regular customer            12
8      1052  Regular customer            10
9      1052  Regular customer            15
10     1379      New customer             1
11     1480    Loyal customer            36
12     1480    Loyal customer            38
13     1480    Loyal customer            39
14     1494  Regular customer             6
15     1494  Regular customer             7
16     1494  Regular customer             9
17     1540  Regular customer             4
18     1540  Regular customer             5
19     1540  Regular customer             6
20     1540  Regular customer             7
21     1540  Regular customer             8
22     1540  Regular customer             9
23     1540  Regular customer            14
24     1540  Regular customer            15
25     1540  Regular customer            18
26     1540  Regular customer            19
27     1540  Regular customer            20
28     1540  Regular customer            21
29     1540  Regular customer            22
30     1540  Regular customer            24
31     1540  Regular customer            25
32     1540  Regular customer            27
33     1540  Regular customer            28
34     1598      New customer             1
35     1598      New customer             2
36     1598      New customer             3
37     1647      New customer             1
38     1647      New customer             4
39     1647      New customer             6
40     1647      New customer             8
41     1647      New customer             9
42     2833      New customer             1
43     2850  Regular customer             7
44     2857  Regular customer            24
45     3010  Regular customer             5
46     3029      New customer             1
47     3395      New customer             4
48     3904      New customer             1
49     4006    Loyal customer             2
50     4006    Loyal customer             3
51     4006    Loyal customer             5
52     4006    Loyal customer             9
53     4006    Loyal customer            12
54     4122  Regular customer            11
55     4141      New customer             2
56     4343      New customer             1
57     4553      New customer             3
58     4845  Regular customer             6
59     6866      New customer             1